[submodule "airbyte"]
	path = "Design e Implementação de Data Warehouses/Lab 4 - Capacity Planning de Data Warehouse com Airbyte/airbyte"
	url = https://github.com/airbytehq/airbyte

[submodule "airbyte"]
	path = "Design e Implementação de Data Warehouses/Projeto 1 - Local Datawarehouse com Docker/airbyte"
	url = https://github.com/airbytehq/airbyte

